.message{
    font-size: 22px;
    font-weight: bold;
}

.spinner {
    margin-bottom: 20px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}